table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
	width: 150px; 
	border: 1px solid black;
}

thead	{
    background-color: #778899;
}

tbody tr:nth-child(even) {
    background-color: #D3D3D3;
	

head {
	
	background: #eee;
}
